<!DOCTYPE html>
<html>
	<head>
		<title> NBAshotchart </title>
		<link rel="stylesheet" href="static/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body onLoad="addTeams()" class="mainBody">
		<div class="head center">
			<h1 id="teamNameHeader"> NBA shot charts </h1>
			<h4> Pick a team and see each player's shot chart for the season </h4>
		</div>
		<div class="teamList center">
			<ul id="teams"> </ul>
		</div>
		<script type="text/javascript" src="static/main.js"></script>
	</body>
</html>